<div class="card">
  <div class="card-header text-white bg-primary mb-3">
    Empresa
  </div>
  <div class="card-body">
    <form [formGroup]="empresaForm" novalidate (ngSubmit)="adicionar(empresaForm.value, empresaForm.valid)">
      <div class="row">
        <div class="col-sm-12 col-md-6 col-lg-6">
          <label>Nome</label>
          <input type="text" formControlName="nome" class="form-control" />
        </div>
        <div class="col-sm-12 col-md-6 col-lg-6">
          <label>Razão Social</label>
          <input type="text" formControlName="razaoSocial" class="form-control" />
        </div>
        <div class="col-sm-12 col-md-6 col-lg-6">
            <label>CNPJ</label>
            <input [textMask]="{mask: mask}" type="text" formControlName="cnpj" class="form-control" />
          </div>
      </div>
      <br/>
      <div class="row">
        <div class="col-sm-12">
          <button type="submit" class="btn btn-sm btn-primary" [disabled]="!empresaForm.valid">
            <i class="fa fa-search"></i> Adicionar </button>
        </div>
      </div>
    </form>
    <br/>
    <div class="row">
      <div class="col">
        <table class="table table-bordered table-striped">
          <thead>
            <tr>
              <td>Nome</td>
              <td>Razão Social</td>
              <td>CNPJ</td>
              <td>Data Cadastro</td>
              <td></td>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let emp of empresas">
              <td>{{emp.nome}}</td>
              <td>{{emp.razaoSocial}}</td>
              <td>{{emp.cnpj}}</td>
              <td>{{emp.dtCadastro | date}}</td>
              <td>
                <button type="button" class="btn btn-sm btn-danger" (click)=remover(emp)>
                  <i class="fa fa-remove"></i>
                </button>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
